@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://kit.fontawesome.com/185a9a7f3e.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark " ;height:100px;opacity:0.7;">
            <a class="navbar-brand" href="#">
                <img src="~/Content/logo.png" style="margin-left:100px;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="../Home/Index" style="margin-left:250px;font-size:25px;color:#f4a6aa;font-family:Arial Narrow;">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Home/About" style="margin-left:20px;font-size:25px;color:white;font-family:Arial Narrow;">About</a>
                    </li>

                    >

                    <li class="nav-item">
                        <a class="nav-link " href="../Home/Contact" style="margin-left:20px;font-size:25px;color:white;font-family:Arial Narrow;">CONTACT</a>
                    </li>





                    <li class="nav-item">
                        <form>
                            <a class="nav-link" href="../Home/Shop"  style="margin-left:20px;font-size:25px;color:white;font-family:Arial Narrow;">
                                SHOP
                            </a>

                      </form>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="../Admin/Dashboard" style="margin-left:20px;font-size:25px;color:white;font-family:Arial Narrow;">Admin Panel</a>
                        </li>

                    }




                    <li class="nav-item">
                        <a class="nav-link " href="../Home/Shop" style="margin-left:200px;font-size:35px;color:white;">
                            <i class="fas fa-search"></i>

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="../Home/cartDetails?ProdName=EXIST" style="margin-left:20px;font-size:35px;color:white;">
                            <i class="fas fa-shopping-cart"></i>

                        </a>
                    </li>
                    @Html.Partial("_LoginPartial")


                </ul>


            </div>
        </nav>

        @RenderBody()



        <footer>
            <div class="container top-footer">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>INFORMATIONS</h4>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>

                    </div>
                    <div class="col-sm-3">
                        <h4>INSIDE</h4>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    <div class="col-sm-3">
                        <h4>CONTACT US</h4>
                        <p><i class="link fas fa-map-marker-alt"></i> SOUL STORE, 98 Beverly Hills <br> Los Angeles - CA . UNITED STATES</p>
                        <p><i class="link fas fa-phone-alt"></i> <a href="#">+2010000000000</a></p>
                        <p><i class="link far fa-envelope"></i> <a href="#">contact@soul.com</a></p>

                    </div>
                    <div class="col-sm-3">
                        <h4>SOCIALIZE WITH SOUL</h4>
                        <a href="#"><i class="link-social fab fa-facebook"></i></a>
                        <a href="#"><i class="link-social fab fa-twitter"></i></a>
                        <a href="#"><i class="link-social fab fa-linkedin"></i></a>
                        <a href="#"><i class="link-social fab fa-google-plus"></i></a>
                        <a href="#"><i class="link-social fab fa-pinterest"></i></a>
                        <img src="~/Content/logo.png" />
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>SOUL © 2020 AN E-COMMERCE Website</p>
                        </div>
                        <div class="col-sm-6">
                            <a href="#">BY Soul Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
